[Desktop Entry]
Type=Application
Name=Browser
Comment=Open Firefox ESR
Exec=firefox-esr
Icon=firefox-esr
Terminal=false
Categories=Network;WebBrowser;
