[Desktop Entry]
Type=Application
Name=Terminal
Comment=Open a command line
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
